<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.title, project_path(project.id) %>(<%= project.tasks.unifinished.count %>/<%= project.tasks.count %>)
      <%= link_to "[Edit]", edit_project_path(project.id) %>
      <%= link_to "[Delete]", project_path(project.id), method: :delete, data: { confirm: "are you sure?" } %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add New", new_project_path %></p>